body{
    background-color:#713ABE;
    
  }
  .App{
    background-color: #82A0DB;
    min-height: 500px;
    width: 400px;
    margin: 40px auto;
    color:white;
  }
  
  #to-do-form input{
    background-color:#96C291;
    border:0;
    width:200px;
    height:50px;
    padding:0 20px;
    margin: 20px;
    
  }
  #to-do-form  input ::placeholder{
    color:white;
  }
  #to-do-form input:focus ,#to-do-form button:focus{
    outline:none;
  }
  #to-do-form button{
    height:50px;
    width:80px;
    border-radius: 5px;
    border:0;
    background-color: #FFBB5C;
    cursor:pointer;font-weight: bolder;
    color: white;
  
  }
